.parent{
    display: flex;
    flex-direction:row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

}
img{
    
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: lightcoral 2px double;
}
.parent>div{

    width: auto;
    /* border: 3px double black; */
    padding: 2%;
    margin: 1%;
}
h1{
    color: indigo;
    text-align: center;
}
h2{
    color: brown;
    text-align: center;
}
button{
    text-align: center;
    padding: 20px;
    background-color: rgb(252, 10, 10);
}
label{
    color:darkblue;
}



@media only screen  and (min-width:481px)and(max-width:768px) {
.parent{
    display: flex;
    flex-direction: row;
    background-color: grey;
    
}
}